body {
    background-color: rgb(176, 161, 241);
}

#fantasyForm {
    text-align: center;
    background-color: rgb(176, 125, 204);
    margin: 30px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

*, ::after, ::before {
    box-sizing: content-box;
 } 

.btn {
    margin-top: 10px;
    padding: 10px 10px;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    background: #a174b3;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background: #ffffff;
    transform: scale(1.1);
}

h1, .result {
    font-family: "ivystyle-sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    margin-top: 20px;
}

p {
    font-size: 30px;
    text-align: center;
    font-family: "leida", sans-serif;
    font-weight: 900;
    font-style: normal;
}

label {
    font-family: "ivystyle-sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}